USE [master]
GO
/****** Object:  Database [test_pubs]    Script Date: 2020-03-23 오후 1:01:01 ******/
CREATE DATABASE [test_pubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test_pubs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER14\MSSQL\DATA\test_pubs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'test_pubs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER14\MSSQL\DATA\test_pubs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2097152000KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test_pubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test_pubs]
GO
/****** Object:  User [test_id_11]    Script Date: 2020-03-23 오후 1:01:01 ******/
CREATE USER [test_id_11] FOR LOGIN [test_id_11] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [test_id_11]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [test_id_11]
GO
ALTER ROLE [db_datareader] ADD MEMBER [test_id_11]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [test_id_11]
GO
/****** Object:  Table [dbo].[mainBoard]    Script Date: 2020-03-23 오후 1:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mainBoard](
	[mainBoardNo] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](30) NOT NULL,
	[category] [nchar](20) NULL,
	[id_Name] [nvarchar](30) NOT NULL,
	[mainBoardTitle] [nvarchar](50) NOT NULL,
	[mainBoardContent] [nvarchar](300) NULL,
	[writeDate] [datetime] NULL,
 CONSTRAINT [PK_mainBoard_1] PRIMARY KEY CLUSTERED 
(
	[mainBoardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfor]    Script Date: 2020-03-23 오후 1:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfor](
	[userID] [nvarchar](30) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[userPwd] [nvarchar](20) NOT NULL,
	[userAddress] [nvarchar](100) NOT NULL,
	[userEmail] [nvarchar](50) NOT NULL,
	[userGrade] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[mainBoard] ON 

INSERT [dbo].[mainBoard] ([mainBoardNo], [userID], [category], [id_Name], [mainBoardTitle], [mainBoardContent], [writeDate]) VALUES (1, N'isdi11', N'자유게시판               ', N'김석두', N'안녕하세요!', N'안녕하세요 가입했습니다.', CAST(N'2020-03-15 00:00:00.000' AS DateTime))
INSERT [dbo].[mainBoard] ([mainBoardNo], [userID], [category], [id_Name], [mainBoardTitle], [mainBoardContent], [writeDate]) VALUES (2, N'mong22', N'자유게시판               ', N'이몽룡', N'반갑습니다~~', N'게시판 활동 많이 해주세요.... 너무 유령 게시판이에요~', CAST(N'2020-03-12 12:00:00.000' AS DateTime))
INSERT [dbo].[mainBoard] ([mainBoardNo], [userID], [category], [id_Name], [mainBoardTitle], [mainBoardContent], [writeDate]) VALUES (3, N'chun11', N'자유게시판               ', N'성춘향', N'추천 받아 가입했습니다.', N'추천받고 가입했어용~ 반가워요.', CAST(N'2020-03-12 21:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[mainBoard] OFF
INSERT [dbo].[UserInfor] ([userID], [userName], [userPwd], [userAddress], [userEmail], [userGrade]) VALUES (N'chun11', N'오춘자', N'3333', N'경기도 고양시 덕양구 강매로 77-119(강매동)', N'chun11@naver.com', N'DD')
INSERT [dbo].[UserInfor] ([userID], [userName], [userPwd], [userAddress], [userEmail], [userGrade]) VALUES (N'dark11', N'이일자', N'2222', N'경기도 파주시 가나무로 93-5(금촌동, 송인주택)', N'dar222@naver.com', N'FF')
INSERT [dbo].[UserInfor] ([userID], [userName], [userPwd], [userAddress], [userEmail], [userGrade]) VALUES (N'dark3344', N'4444', N'4444', N'경기도 성남시 분당구 불정로 90', N'jdskj@naver.com', N'FF')
ALTER TABLE [dbo].[mainBoard]  WITH CHECK ADD  CONSTRAINT [FK_mainBoard_User] FOREIGN KEY([userID])
REFERENCES [dbo].[UserInfor] ([userID])
GO
ALTER TABLE [dbo].[mainBoard] CHECK CONSTRAINT [FK_mainBoard_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductByCustomPaging]    Script Date: 2020-03-23 오후 1:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductByCustomPaging]  
    @PageNo     INT,
    @pageSize   INT   
AS           
BEGIN
    DECLARE @qry  NVARCHAR(1000);   
    SET @qry='SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY writeDate desc, mainBoardNo desc) AS ''RowNum'',* FROM mainBoard WHERE 1=1) a WHERE a.RowNum BETWEEN ('+CAST(@pageNo AS NVARCHAR(5))+'-1)*'+CAST(@pageSize AS NVARCHAR(5))+'+1 AND ('+CAST(@pageNo AS NVARCHAR(5))+'*'+CAST(@pageSize AS NVARCHAR(5))+')'
    EXEC Sp_executesql @qry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MainBoard_CRUD]    Script Date: 2020-03-23 오후 1:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_MainBoard_CRUD]
(@mainBoardNo      int,
@userID	  nvarchar(30),
@category      nchar(20),
@id_Name   nvarchar(30),
@mainBoardTitle    nvarchar(50),
@mainBoardContent    nvarchar(300),
@writeDate	datetime,
@StatementType NVARCHAR(20) = '')

as
BEGIN  
	IF @StatementType = 'Insert'  
        BEGIN  
            INSERT INTO mainBoard  
                        (    
                         userID,	  
                         category,     
                         id_Name,
                         mainBoardTitle,  
						 mainBoardContent,
						 writeDate)  
						   
            VALUES     (     
                         @userID,	  
                         @category,       
                         @id_Name, 
                         @mainBoardTitle,   
						 @mainBoardContent, 
          				 @writeDate)  
			END
  
      IF @StatementType = 'Select'  
        BEGIN  
            Select * from mainBoard Order by writeDate desc, mainBoardNo desc  
        END  
  
      IF @StatementType = 'Update'  
        BEGIN  
            UPDATE mainBoard
            SET            
                   userID	  		  =    @userID,	  
                   category     	  =    @category,       
				   id_Name 			  =    @id_Name, 
				   mainBoardTitle 	  =    @mainBoardTitle,  
				   mainBoardContent	  =    @mainBoardContent,
				   writeDate  		  =    @writeDate  
 		     
            WHERE  userID = @userID ANd mainBoardNo = @mainBoardNo
        END  
      ELSE IF @StatementType = 'Delete'  
        BEGIN  
            DELETE FROM mainBoard  
            WHERE  userID = @userID ANd mainBoardNo = @mainBoardNo
        END    
END


GO
/****** Object:  StoredProcedure [dbo].[sp_userInfo_CRUD]    Script Date: 2020-03-23 오후 1:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_userInfo_CRUD]
(@userID      nvarchar(30),
@userName	  nvarchar(50),
@userPwd      nvarchar(20),
@userAddress   nvarchar(100),
@userEmail    nvarchar(50),
@userGrade    nvarchar(20),
@StatementType NVARCHAR(20) = '')

AS
BEGIN  
	IF @StatementType = 'Insert'  
        BEGIN  
            INSERT INTO UserInfor  
                        (userID,    
                         userName,	  
                         userPwd,     
                         userAddress,
                         userEmail,  
						 userGrade)  
						   
            VALUES     ( @userID,     
                         @userName,
                         @userPwd,      
                         @userAddress, 
                         @userEmail,   
						 @userGrade)   
        END  
  
      IF @StatementType = 'Select'  
        BEGIN  
            SELECT *  
            FROM   UserInfor  
        END  
  
      IF @StatementType = 'Update'  
        BEGIN  
            UPDATE UserInfor   
            SET         
                   userName	   = @userName,
                   userPwd     = @userPwd,  
                   userAddress = @userAddress,
				   userEmail   = @userEmail,  
				   userGrade   = @userGrade			     
            WHERE  userID = @userID  
        END  
      ELSE IF @StatementType = 'Delete'  
        BEGIN  
            DELETE FROM UserInfor  
            WHERE  userID = @userID  
        END    
END
GO
USE [master]
GO
