<%@ Master Language="C#" MasterPageFile="~/MasterPage/MainPage.Master" AutoEventWireup="true" CodeBehind="NestedLeftSide.master.cs" Inherits="WebApplication1.NestedLeftSide" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <script type="text/javascript">
        var title = $(document).find("title").text().trim();
        $(document).ready(function () {
            if (title.includes("메인 게시판")) {
                $("#sideMenuTitle").append("<a>메인 게시판</a>");
                $("#sideMenuTitle").append("<a href=\"/Page_Basic/MainBoard.aspx\">게시판</a>");
                //$("#sideMenuTitle").append("<a href=\"#\">Services</a>");
                //$("#sideMenuTitle").append("<a href=\"#\">Clients</a>");
                //$("#sideMenuTitle").append("<a href=\"#\">Contact</a>");
            }
            else {
                $("#sideMenuTitle").append("<a href=\"#\">About</a>");
                $("#sideMenuTitle").append("<a href=\"#\">Services</a>");
                $("#sideMenuTitle").append("<a href=\"#\">Clients</a>");
                $("#sideMenuTitle").append("<a href=\"#\">Contact</a>");
            } 
        });
    </script>
    <div class="col-xs-12">
        <div class ="col-xs-2" style="height:800px;">
            <div class="sidenav">
                <div id="sideMenuTitle"></div>
            </div>
        </div>
    
        <div class ="col-xs-10">
            <asp:ContentPlaceHolder ID="MainContentSub" runat="server">
            </asp:ContentPlaceHolder>                
        </div>  
     </div>
</asp:Content>

